.header-container {
	background-color: #3b7096;
	height: 55px;
	overflow: hidden;
}

.header-container div {
	margin-top: 15px;
	display: block;
	margin-left: 10px;
	margin-right: 5px;
	padding: 5px;
	float:left;
	font-family: cursive;
	font-size: 22px;
	color: white;
}
.header-container div:hover {
	color: blue;
	cursor: pointer;
	transition-duration: .5s;
	transition-timing-function: ease;
}

.header-container a {
	float: left;
	margin-left: 5px;
}

.header-container img {
	margin-bottom: 20px;
	display: inline;
}

.header-container button {
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 2px;
	background-color: grey;
	font-family: cursive;
	font-size: 16px;
	padding: 5px;
	color:wheat;
	float: right;
	border-radius: 5px;
	cursor: pointer;
}

.header-container button:hover {
	background-color: black;
	transition-duration: .5s;
}