<div class="registration-container">
	
	<div class="select-plan-text">
			<h2>Select your Plan</h2>
			<div class="text">
				Join a community of more than 40,000 tennis players from 5,000+ cities. Just moved? Travel for work or vacation? 
				<span>
				Want to get back in the game? You've come to the right place, where tennis is always on.
				</span>
			</div>
	</div>

	<div class="basic-plan">
		<div class="basic-plan-text">
			<span>Basic Plan</span>
			<p>You'll get a free basic account which will allow you to select a home court, find and invite other tennis players on your own. It's not as easy as Premium, but it's free and you don't pay for anything.
			</p>
			<ul>
				<li>Send up to 50 invites for free to try it out.</li>
				<li>No credit card required when you register.</li>
				<li>Send and receive up to 5 invites and messages per day.</li>
			</ul>
		</div>
		<div class="select-country">
			<div>
				<h1>Select Your country</h1>
				<select>
					<option value="volvo">Volvo</option>
				    <option value="saab">Saab</option>
				</select>
				<p>Basic Membership</p>
				<p>Upgrade to Premium Anytime</p>
				<br><br>
				<span>Free</span>
				<span>
					<button>Select</button>
				</span>
			</div>
			
		</div>
	</div>
	
	<div class="premium-plan">
		
	</div>
</div>